In [1]:

print("Hello Python World")

Hello Python World

In [2]:

print("Hello Rajani")

Hello Rajani

In [3]:
print("Hey how are you")

Hey how are you

In [6]:
print("jhjd")

jhjd

In [7]:
a=10
a

10

In [8]:
a=13

In [9]:
a

13

In [19]:
b=100
b

100

In [20]:
Letsupgrade=100

Letsupgrade

100

In [5]:
a=1
a

1

In [6]:
vikko=100
vikko

100

In [8]:
co_rajani=233
co_rajani

233

In [12]:
list=100
list

100

In [10]:
List=100
List

100

In [13]:
a="Rajani is a good girl."
print(a)

Rajani is a good girl.

In [42]:
character_name="Rajani"
character_age="20"
print("is a good girl."+character_name+ " is "+character_age+" years old")

is a good girl.Rajani is 20 years old

In [40]:
print("    /|")
print("   / |")
print("  /__|")

    /|
   / |
  /__|

In [46]:
character_name="jan"
character_age="30"
print("there was a man named "  +character_name+ " ,")
print("he was "+character_age+ " years old.")
character_name="man"
character_age="45"
print("He really liked the name "+character_name+",")
print("but didnot like being "+character_age+".")

there was a man named jan ,
he was 30 years old.
He really liked the name man,
but didnot like being 45.

In [49]:
character_name="jan"
character_age="30"
is_Male=True
print("there was a man named "  +character_name+ " ,")
print("he was "+character_age+ " years old.")
character_name="man"
character_age="45"
print("He really liked the name "+character_name+",")
print("but didnot like being "+character_age+".")

there was a man named jan ,
he was 30 years old.
He really liked the name man,
but didnot like being 45.

In [72]:
a="Giragge Acadamy"
print(a)

Giragge Acadamy

In [66]:
a="Rajani shetty"
b=a.replace("Rajani","raj")
print(b)

raj shetty

In [82]:
a=-6
print(abs(a))

6

In [83]:
L1=[2,4,"true",6]
print(L1)

[2, 4, 'true', 6]

In [8]:
L1=[2,4,"true",6]
a[0]=9

TypeError: 'set' object does not support item assignment

In [86]:
L1=[2,4,"true",6]
print(L1)

[4, 'true', 6, 6]

In [87]:
L1=[2,4,"true",6]
print(L1)

[2, 4, 'true', 6]

In [89]:
L1=[2,4,"true",6]
L2=["rah",4,6]
L1.append(2)
L1.extend(L2)
print(L1)

[2, 4, 'true', 6, 2, 'rah', 4, 6]

In [92]:
L1=[2,4,"true",6]
L2=["rah",4,6]
L1.append(2)
L1.extend(L2)
print( L2)

['rah', 4, 6]

In [96]:
T=[2,4,"true",6]
T=["rah",4,6]
T.append(2)
T.extend(L2)
print(T)
for ele in T:
    print(ele)

['rah', 4, 6, 2, 'rah', 4, 6]
rah
4
6
2
rah
4
6

In [97]:
L1=[2,4,"true",6]
L2=["rah",4,6]
L1.append(2)
L1.extend(L2)
print(L1)

[2, 4, 'true', 6, 2, 'rah', 4, 6]

In [100]:
L1={2,4,"true",6}
L2={"rah",4,6}

print(L1)

{2, 4, 'true', 6}

In [101]:
L1={2,4,"true",6}
L2={"rah",4,6}
L1.remove(6)
print(L1)

{2, 4, 'true'}

In [102]:
L1={2,4,"true",6}
L2={"rah",4,6}

print(L1,"\n",L2)

{2, 4, 'true', 6}
 {'rah', 4, 6}

In [103]:
L1={2,4,"true",6}
L2={"rah",4,6}
L3=L1.union(L2)
print(L1,"\n",L2,"\n",L3)

{2, 4, 'true', 6}
 {'rah', 4, 6}
 {'rah', 2, 4, 'true', 6}

In [104]:
L1={2,4,"true",6}
L2={"rah",4,6}

print(L1)

{2, 4, 'true', 6}

In [105]:
L1={2,4,"true",6}
L2={"rah",4,6}
L3=L1.union(L2)
L4=L3.intersection(L1)
print(L1,"\n",L2,"\n",L3,"\n",L4)

{2, 4, 'true', 6}
 {'rah', 4, 6}
 {'rah', 2, 4, 'true', 6}
 {2, 4, 'true', 6}

In [106]:
x=7
r=x%2
if r==0:
    print("even")
if(r==1):
    print("odd")

odd

In [114]:
x=3
r=x%2
if r==0:
    print("even")
    if(x>5):
      print("good")
    else:
      print("bad")
else:
    print("odd")

odd

In [116]:
x=int(input("enter a number "))
r=x%2
if r==0:
    print("even")
    if(x>5):
      print("good")
    else:
      print("bad")
else:
    print("odd")

enter a number 583262794346786
even
good

In [117]:
x=int(input("enter a number "))
r=x%2
if r==0:
    print("even")
    if(x>5):
      print("good")
    else:
      print("bad")
else:
    print("odd")

enter a number 979097856666798643
odd

In [119]:
rajqani

enter a number 56.8765
odd

In [11]:
a=[1,3]
b=["a",3,"e",8]
b.extend(a)
print(b)

['a', 3, 'e', 8, 1, 3]

In [22]:
a="ramkumar"
print(a.index("r"))

0

In [1]:
a="rajkumar"
b=a.replace("raj","ram")
print(b)
print(b[4])
print(b.index("m"))

ramkumar
u
2

In [18]:
a=[2,3,555,4,5,3,333,343]
a.sort()
a.remove(3)
b=a.copy()
a.append(999)
a.extend(b)
a.count(3)
print(a)

[2, 3, 4, 5, 333, 343, 555, 999, 2, 3, 4, 5, 333, 343, 555]

In [55]:
a=[2,3,555,4,5,3,333,343]
b=[2,39,4]
c=a.copy()
b.extend(a)
print(a,"\n",b,"\n",c,"\n","s"not in a,"\n",2 in b)

[2, 3, 555, 4, 5, 3, 333, 343]
 [2, 39, 4, 2, 3, 555, 4, 5, 3, 333, 343]
 [2, 3, 555, 4, 5, 3, 333, 343]
 True
 True

In [37]:
a=[2,3,555,4,5,3,333,343]
print(a)
for ele in a:
    print(ele)
a[3]="rajani"
print(a)

[2, 3, 555, 4, 5, 3, 333, 343]
2
3
555
4
5
3
333
343
[2, 3, 555, 'rajani', 5, 3, 333, 343]

In [56]:
a={7,6,5}
b={"t",77,66,6}
print(a.intersection(b))

{6}

In [50]:
a={7,6,5}
b={"t",77,66,6}
c=a.union(b)
print(a,"\n",b,"\n",c)

{5, 6, 7}
 {'t', 66, 77, 6}
 {66, 77, 5, 6, 7, 't'}

In [9]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7,8}
print(a)
print(a.issuperset(b))
print(a.issubset(b))

{1, 2, 3, 4, 5}
False
True

In [17]:
print("q")

q

In [35]:
x=int(input("enter a number= "))
y=int(input("enter anither number= "))
if x==y and x<y:
    print("hello")
    if x>=3:
        print("great")
else:
    print("what nonsense")

enter a number= 1
enter anither number= 1
what nonsense

In [38]:
for ele in range(1,100,2):
    print(ele)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [41]:
x=int(input("enter a number"))
if x%2==0:
    print("even")
else:
    print("odd")

enter a number99
odd

In [50]:
x=int(input("enter a number"))
r=x%2
if r==0:
    print("even")
    if x>100:
        print("hii")
    elif x<100:
        print("byr")
    else:
        print("tats")
elif x%2!=0:
    print("odd")
else:
    print("error")

enter a number100
even
tats

In [3]:
#hiiiiii
print("hii")

hii

In [4]:
"#hihiuyhjhfetryh"

'#hihiuyhjhfetryh'

# single line comment

# single line comment

In [5]:
#lets  do a additio
a=2
b=3
a+b

5

# multi line comment(means we can use multiple sentence after hashtags

In [6]:
#we can comment anything
#we can add,
#we can sub,div and multiply
a=2
b=-9
a*b

-18

# we use hashtag for single line and multiple line and docstring for comment something in output after variable declaration

# docstring are used for (when we want some nformtion print in ouput at that time we use 3 double coat) after we write comment means print statement example is below

In [7]:
"""
look at the examle

"""
a=3
b=5
a+b

8

In [1]:
a=3
b=56
print(a+b)

59

# variable and datatype variable in python are case sensitive means we declare a variable upper case and lower case are not at all same

In [4]:
x=12
y=23

In [5]:
x+y

35

In [6]:
x-y

-11

# Variable datatype in python 
#numerical
#string
#list
#dictionary
#tuple
#set

In [1]:
x=10 
type(x)

int

In [9]:
x=10.3445
type(x)

float

In [12]:
x=10j
print(type(x))

<class 'complex'>

In [10]:
x=10j
type(x)

complex

In [15]:
x=9<8
print(type(x))

<class 'bool'>

In [2]:
x=9==8
print(x,type(x))

False <class 'bool'>

In [16]:
x="rajkumar"
x[5]

'm'

In [24]:
x[3]

'k'

In [23]:
print(len(x))

8

In [22]:
print(x[0])

r

In [21]:
x.index("j")

2

In [20]:
type(x)

str

In [4]:
print("hii")

hii

#  good morning

In [1]:
print("hii")

hii

In [3]:
"""
    hello
""""
print("hiii")

SyntaxError: EOL while scanning string literal (3215480480.py, line 3)

In [3]:

import time
time.sleep(12)
print("12 seconds have passed since this program ran")

12 seconds have passed since this program ran

In [9]:
_ft="r"
print(_ft)

r

In [19]:
x=int(input("enter a number "))
y=int(input("enter another number "))
print(x,y)
x=100
y=877
print(x,y)

enter a number 1
enter another number 2
1 2
100 877

In [22]:
x=12
y=13
x==15
y>=15
print(x,y)

12 13

In [36]:
x=int(input("enter a number "))
y=int(input("enter another number "))
print( not x==y)

enter a number 90
enter another number 90
False

In [37]:
x=2
y=3
x=10
y-=1
print(x,y)

10 2

In [45]:
x=10
y=8
print(x==y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x!=y)

False
True
False
False
True
True

In [55]:
a=10
s=12
print(a==s or a/s<=a*s)

True

In [49]:
a=10
s=12
print(a>s and s<=a)

False

In [56]:
a=10
s=12
print(not a==s)

True

In [52]:
a=10
s=12
print(not s<=a)

True

In [5]:
a=122
c=32
if (a>=c and a>c):
    print("hello")
else:
    print("sorry")

hello

In [68]:
a="rajani good girl"
print(len(a),a[-3],a.index("j"),a.isupper(),a.lower(),a.isdigit(),a.upper(),a.count("a"),type(a),a.startswith("ni"),a.capitalize(),a.replace("rajani","ramani"))

16 i 2 False rajani good girl False RAJANI GOOD GIRL 2 <class 'str'> False Rajani good girl ramani good girl

In [53]:
a=3
a%=2
print(a)

1

In [39]:
a=input("enter a number")
print(type(a))

enter a numberhkl;
<class 'str'>

In [59]:
a=5
a**=3
print(a)

125

In [49]:
a=2
v=3
print((a+v)/2)

2.5

In [51]:
a=2
b=3
print("sum of these 2 number is",a+b)
avg=(a+b)/2
print(avg)

sum of these 2 number is 5
2.5

In [52]:
a=2
b=3
sum=a+b
avg=sum/2
print(avg)

2.5

In [55]:
b=3
print("remainder when number is divided by 2 is: ",b%2)

remainder when number is divided by 2 is:  1

In [56]:
a=34
b=30
print(a>b)

True

In [58]:
a=5
print("suwgsr of a is",a*a*a)

suwgsr of a is 125

In [62]:
a="ramkumar"
print(a[0:7:2])

rmua

In [81]:
a="rajani\ngood \t\t girl\\ and very\' good\'"
print(a.find("good"))

7

In [14]:
a=[1,"g","m",5.56]
print(a[3],a.index("g"),a.remove("m"),a.append("good morning"))
a[0]="s"
print(a)
for ele in a:
    print(ele)
a1=[2,4,1,2,76,34,00.1]
a1.sort()
print(a1)

5.56 1 None None
['s', 'g', 5.56, 'good morning']
s
g
5.56
good morning
[0.1, 1, 2, 2, 4, 34, 76]

In [21]:
a=[1,"tt","rat",48,6]
a1=[1,3,4,5,5]
a.extend(a1)
a3=a1.copy()
print(a,a3)

[1, 'tt', 'rat', 48, 6, 1, 3, 4, 5, 5] [1, 3, 4, 5, 5]

In [1]:
x=10
x+=2
print(x)
x-=2
print(x)

12
10

In [12]:
j=56
i=100
print(i<=j or j<=i )

True

In [17]:
a=17
a%=3
print(a)

2

In [10]:
print("rajani is good \t\tgirl")

rajani is good 		girl

In [23]:

a=[2,32,34,6,7,123]
a.reverse()
print(a)
a.sort()
print(a)
a.append("rajano")
print(a)
a.insert(6,"majaaa")
print(a)

a.pop()
print(a)
a.pop(3)#it delete 2nd index number
print(a)
a.remove(2)
print(a)

[123, 7, 6, 34, 32, 2]
[2, 6, 7, 32, 34, 123]
[2, 6, 7, 32, 34, 123, 'rajano']
[2, 6, 7, 32, 34, 123, 'majaaa', 'rajano']
[2, 6, 7, 32, 34, 123, 'majaaa']
[2, 6, 7, 34, 123, 'majaaa']
[6, 7, 34, 123, 'majaaa']

In [2]:
 
a=[10,"raj",101]
print(a[0:2:1])
print(a[0])

[10, 'raj']
10

In [3]:
a=[1,12,2,3,23,321,0.1]
a.sort()
print(a)

[0.1, 1, 2, 3, 12, 23, 321]

In [8]:
Rajani=[1,12,2,3,23,321,0.1]
print(Rajani)

[1, 12, 2, 3, 23, 321, 0.1]

In [18]:
a=[1,23,2,3,333,23]
a.remove(333)
print(a)

[1, 23, 2, 3, 23]

In [6]:
a=[1,23,2,3,333,23]
a.insert(3,"hiii")
a[2]="goood"
print(a)

[1, 23, 'goood', 'hiii', 3, 333, 23]

In [8]:
    a=[1,1,1111,111,"kl"]
    b=list(("rajani","j"))
    c=[a,b]
    print (a)
    print(b)
    print(c)

[1, 1, 1111, 111, 'kl']
['rajani', 'j']
[[1, 1, 1111, 111, 'kl'], ['rajani', 'j']]

In [7]:
t1=[1,"rajani",9,1,"g"]
t1.index("rajani")
print(t1)

[1, 'rajani', 9, 1, 'g']

In [8]:
t1=[1,"rajani",9,1,"g"]
t1.index("rajani")
print(t1)

[1, 'rajani', 9, 1, 'g']

In [10]:
a=[1222,2,13,34,53,100,0.1]
a.sort()
a.reverse()
print(a)

[1222, 100, 53, 34, 13, 2, 0.1]

In [11]:
a=[1222,2,13,34,53,100,0.1]
a.sort()
print(a)

[0.1, 2, 13, 34, 53, 100, 1222]

In [12]:
A=[1,2,3]
B=[22,3,4]
C=[A,B]
print(A+B+C)

[1, 2, 3, 22, 3, 4, [1, 2, 3], [22, 3, 4]]

In [13]:
l1=[1,2,3]
sum=l1[0]+l1[1]+l1[2]
print(sum)

6

In [10]:
l1=[1,367983,434334444]
sum=l1[0]
sum=sum*l1[1]
sum=sum*l1[2]
print(sum)

159827691706452

In [12]:
for(int i=3;i<=30;i+3){
    print(i)    
}

SyntaxError: invalid syntax (4208124427.py, line 1)

In [2]:
l=[1,2,3,222] 
sum=0
for i in l:
    sum=sum+i
print(sum)

228

In [17]:
 a={"name":"rajani",
     "age":"eleven",
    "list":[2,3,2,22222]}
 print(a["age"])

eleven

In [12]:
s1=10
s2=35
s3=100
avg=s1+s2+s3/3
if(s1>=33 and avg>=40 ):
    if(s2>=33 and avg>=40):
        if(s3>=33 and avg>=40):
           print("pass")
else:
    print("fail")

fail

In [16]:
s1=32
s2=100
s3=99
avg=(s1+s2+s3)/3
if(s1>=33 and s2>=33 and s3>=33 and avg>=40 ):
    print("pass")
else:
    print("fail")

fail

In [1]:
s1=10
s2=35
s3=100
avg=s1+s2+s3/3
if(s1>=33 and avg>=40 ):
    print("pass in subject 1")
    if(s2>=33 and avg>=40):
        print("pass in sub 2")
        if(s3>=33 and avg>=40):
            print("pass in sub 3")
           
else:
    print("fail")

fail

In [7]:
a=[1,3,"k"]
if "k" in a:
    print("j")
else:
    print("b")

j

In [6]:
i=1
while(i<=50):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [17]:
a=[1,9,0,7]
i=0
while(i<=len(a)):
     print(a[i])
     i=i+1

1
9
0
7

IndexError: list index out of range

In [18]:
a=[1,9,0,7]
i=0
while(i<=len(a)):
     print(a[i])
     i=i+1

1
9
0
7

IndexError: list index out of range

In [ ]:
for i in range(1,3,21):
    print("1*"i"=")